<?xml version="1.0" encoding="UTF-8"?>

<configuration status="OFF">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <MarkerFilter marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %M:%L - %ex - %X - %msg%n"/>
    </Console>
  </appenders>
  <loggers>
    <logger name="edu.teco.dnd" level="INFO" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="edu.teco.dnd.network.codecs" level="INFO" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="edu.teco.dnd.deploy.DistributionGenerator" level="TRACE" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    <!--
    <logger name="edu.teco.dnd.deploy" level="TRACE" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    -->
    <logger name="edu.teco.dnd.network.UDPMulticastBeacon" level="INFO" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="edu.teco.dnd.network.UDPMulticastChannelFactory" level="INFO" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="edu.teco.dnd.util.InetSocketAddressAdapter" level="INFO" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="edu.teco.dnd.util.NetConnectionAdapter" level="INFO" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="edu.teco.dnd.network.PeerExchanger" level="ALL" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="edu.teco.dnd.util.Dependencies" level="INFO" additivity="false">
      <MarkerFilter marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
      <appender-ref ref="Console"/>
    </logger>
    <root level="INFO">
      <appender-ref ref="Console"/>
    </root>
  </loggers>
</configuration>
