<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="edu.teco.dnd.graphiti.DNDDiagramType"
            name="Data Flow Graph"
            type="dataflowgraph">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="edu.teco.dnd.graphiti.DNDDiagramTypeProvider"
            id="edu.teco.dnd.graphiti.DNDDiagramTypeProvider"
            name="Data Flow Editor">
	      <diagramType
	        id="edu.teco.dnd.graphiti.DNDDiagramType">
	      </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/teco/dnd/graphiti/model.ecore"
            class="edu.teco.dnd.graphiti.model.ModelPackage"
            genModel="model/graphiti.genmodel"/>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view id="edu.teco.dnd.eclipse.ModuleView"
            name="Modules"
            class="edu.teco.dnd.eclipse.ModuleView"/>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view id="edu.teco.dnd.eclipse.AppView"
            name="Applications"
            class="edu.teco.dnd.eclipse.AppView"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="edu.teco.dnd.eclipse.Preferences"
            id="DND preferences"
            name="DND"/>
      <page
            class="edu.teco.dnd.eclipse.PreferencesNetwork"
            id="DND network preferences"
            name="Network"
            category="DND preferences"/>
   </extension>
</plugin>
