<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="edu.teco.dnd.graphiti.DNDDiagramType"
            name="Data Flow Graph"
            type="dataflowgraph">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="edu.teco.dnd.graphiti.DNDDiagramTypeProvider"
            id="edu.teco.dnd.graphiti.DNDDiagramTypeProvider"
            name="Data Flow Editor">
	      <diagramType
	        id="edu.teco.dnd.graphiti.DNDDiagramType">
	      </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/teco/dnd/graphiti/model.ecore"
            class="edu.teco.dnd.graphiti.model.ModelPackage"
            genModel="model/graphiti.genmodel"/>
   </extension>
   <extension point="org.eclipse.ui.views">
   	     <category
            id="edu.teco.dnd.viewCategory"
            name="%category.name">
      </category>
      <view id="edu.teco.dnd.eclipse.ViewModule"
    		category="edu.teco.dnd.viewCategory"
            name="%moduleview.name"
            class="edu.teco.dnd.eclipse.moduleView.ModuleView"/>
      <view id="edu.teco.dnd.eclipse.ViewApp"
      		category="edu.teco.dnd.viewCategory"
            name="%applicationview.name"
            class="edu.teco.dnd.eclipse.appView.ApplicationView"/>
   </extension>
      <extension point="org.eclipse.ui.editors">
      <editor class="edu.teco.dnd.eclipse.deployView.DeployView"
      		extensions="blocks"
      		id="edu.teco.dnd.eclipse.deployView.DeployView"
      		name="%deploy.name"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="edu.teco.dnd.eclipse.preferences.Preferences"
            id="DND preferences"
            name="%pref.name"/>
      <page
            class="edu.teco.dnd.eclipse.preferences.PreferencesNetwork"
            id="DND network preferences"
            name="%prefnet.name.0"
            category="DND preferences"/>
   </extension>
</plugin>
